*{
    margin: 0;
    padding: 0;
    font-family: "Raleway",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

b{
    color: #af36ff;
}


.about-section{
    background: url(../img/pic.gif) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
}

.inner-container{
    width: 50%;
	height: 83%;
    float: right;
    background-color: #E6E6FA;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.inner-container h2{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    text-indent: 50px;
}

.skills{
    display: flex;
    font-weight: 700;
    font-size: 13px;
	word-spacing: 2em;
}
/*edit start*/
.title {
    color: #545454;
    padding: 0 0 10 0;
    font-size: 50px;
}

.section-tittle {
    padding: 10px 0 10px 0;
}

.detail{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    text-indent: 50px;
}

.release{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    text-indent: 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.btn {
    background: #af36ff;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    padding: 25px 38px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 10px;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: rgb(162, 33, 248);
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;
}

.btn i {
    padding-right: 11px;
}


.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.btn:hover {
    background-position: right;
}

.news {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 20px 20px 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.news_text{
	width: 100%;
	float: left;
	font-size: 14pt;
	color: #000;
	text-align: center;
    margin-left: 0px;
}

.news_icon{
	width: 100%;
	float: left;
	text-align: center;
	min-height: 220px;
}

.news_title{
	width: 100%;
	float: left;
	font-size: 14pt;
	color: rgb(75, 75, 75);
	text-align: center;
    margin-left: 0px;
    padding: 20px 0px 0px 0px;
}

.contact{
    padding: 0px 0px 0px 50px;
}

.news_title a:hover{
	color: #af36ff;
}
.organized_chart {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height:auto;
    align-items: center;
  }
  
.body-contents{
    width: 100%;
	height: 83%;
    padding: 150px;
}

.header {
    position: relative;
}

.header .main-menu ul li {
    display: inline-block;
    position: relative;
}

.header .main-menu ul li a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 15px 5px 50px 12px;
    margin: 0px 68px 0px 0px;
    display: block;
    font-size: 25px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: underline transparent;
}

.header .main-menu ul li:hover>a {
    color: #af36ff;
    text-decoration: underline;
}

.header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: white;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    border-top: 5px solid #af36ff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block;
    color : #af36ff;
}

.header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: #af36ff;
}

.header .main-menu ul ul.submenu>li>a:hover {
    color: #af36ff;
    background: none;
    padding-left: 13px !important;
}

.header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
    color: #af36ff;
}

.header-area .header-top {
    padding: 9px 130px;
    border-bottom: 1px solid #f0f1f2;
}

.header-area .header-top >ul>li {
    color: #687693;
    display: inline-block;
    margin-right: 18px;
    padding-right: 18px;
    border-right: 1px solid #687693;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
}

.header-area .header-top >ul>li:last-child {
    margin-right: 0px;
}

.header-area .header-top >ul>li i {
    margin-right: 8px;
}

.header-area .header-top ul>li {
    display: inline-block;
}

.header-area .header-top ul>li>a {
    color: #7b8693;
    font-size: 14px;
    padding-left: 25px;
}

.header-area .header-top ul>li>a>i {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}


.header-area .header-top ul>li>a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.header-area .header-top ul>li>a:hover {
    color: #af36ff;
}

.header-area .header-top       {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #687693;
}

.header-area .header-top{
    background-color: #af36ff;
}

.header-area .header-top   .contact-now li a {
    color: #687693;
    border-left: 1px solid #687693;
    font-size: 14px;
    line-height: 1;
    padding-left: 21px;
    margin-left: 10px;
    font-weight: 400;
}

.header-area .header-bottom {
    padding: 0px 130px;
}

.company {
    text-align: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {    
    .header .main-menu {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    .header .main-menu ul li a {
        padding: 39px 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
}

@media (max-width: 575px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .header-top {
        padding: 9px 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top {
        padding: 9px 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-top {
        padding: 9px 50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-top {
        padding: 9px 20px;
    }
}

@media (max-width: 575px) {
    .header-area .header-top {
        padding: 9px 0px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
        .header-area .header-bottom {
        padding: 0px 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {    
    .header-area .header-bottom {
        padding: 0px 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {    
    .header-area .header-bottom {
        padding: 15px 50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding: 15px 20px;
    }
}

@media (max-width: 575px) {   
    .header-area .header-bottom {
        padding: 15px 0px;
    }
}

/*edit end*/


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

